<a href="https://colab.research.google.com/github/yeojun6/21-2phonetics/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수 (variables), 제어문 (syntax), 함수(function)

제일 **처음** *해* 보는 코딩입니다


*a=1 ->변수 설정, 의미:'오른쪽 값을 왼쪽에 대입하시오' 

*print하면 값이 나오게 됨, 

*주석(#)은 그 라인은 실행 안 됨.

*PRINT(TYPE)-속성확인: integer(정수), float(소수점), string(문자), list(여러 가지), dictionary(정의)

*INDEXING: <c=hello> c의 hello에서 'h'만 찍히게 하려면 print(c[숫자]). 단 코딩에서는 첫 번째가 0, 두번째가 1... 즉, print(c[0])=h, print(d[1])=abc

In [6]:
a = 1
b = 1.1
c = 'hello'
d = [1, 'abc', 2.1]
e = {"apple" : "red fruit", "banana" : "yellow fruit"}

# print(a)
# print(b)

# print(type(a)) #int(정수)
# print(type(b)) #float(소수점)
# print(type(c)) #str(문자)
# print(type(d)) #list

# print(c[0]) #h
# print(d[1]) #'abc'
# print(d[1][1]) #d[1]은 'abc'인데 거기에서의 [1]은 b

# print(type(e)) #dict
print(e["apple"])

red fruit

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [7]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
print(a["c"])

<class 'dict'>
apple
2014